[ami]
user = carddavimport
pass = YourSecretPassword
host = localhost
port = 5038

#[carddav]
#url = https://nextcloud.example.com/remote.php/dav/addressbooks/users/russmeyer/contacts/
#user = russmeyer
#pass = Evelyn1928

[phone]
#nationalprefix = 0046
#domesticprefix = 0155
